.character {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 339px;
  color: #ffffff;

  &__info {
    margin-left: 50px
  }

  &__name {
    font-size: 0;
    margin: 0;
    margin: -100px 0 0 -50px;
  }

  &__name_isolda {
    width: 466px;
    height: 179px;
    background-image: url("../../assets/Character__NameIsolda.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__name_pamela {
    width: 412px;
    height: 178px;
    background-image: url("../../assets/Character__NamePamela.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__name_lleyn {
    width: 406px;
    height: 183px;
    background-image: url("../../assets/Character__NameLleyn.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__fraction {
    display: flex;
    align-items: center;
    margin: -32px 0 0;
    font-size: 26px;
  }

  &__fraction_isolda {
    color: #ff2f39;
  }

  &__fraction_pamela {
    color: #c787ff;
  }

  &__fraction_lleyn {
    color: #ffc01c;
  }

  &__fraction::before {
    content: '';
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__fraction_isolda::before {
    width: 25px;
    height: 32px;
    background-image: url("../../assets/Character__Fraction_Isolda.png");
  }

  &__fraction_pamela::before {
    width: 28px;
    height: 29px;
    background-image: url("../../assets/Character__Fraction_Pamela.png");
  }

  &__fraction_lleyn::before {
    width: 32px;
    height: 22px;
    background-image: url("../../assets/Character__Fraction_Lleyn.png");
  }

  &__information {
    width: 420px;
    font-size: 28px;
    line-height: 36px;
  }

  &__skill-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__skill-item {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }

  &__skill-image {
    margin-right: 20px;
  }

  &__skill-title {
    margin: 0;
    font-size: 26px;
    font-weight: normal;
  }

  &__skill-description {
    margin: 0;
    width: 340px;
    font-size: 19px;
    color: #bfc1c0;
  }

  &__navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 340px;
    margin-top: -6px;
  }

  &__navigation-item:not(:first-child) {
    margin-top: 32px;
  }
}
