.play-button {
  width: 565px;
  height: 234px;
  padding: 0;
  font-size: 0;
  border: none;
  background: url("../../assets/PlayButton.png") center no-repeat;
  cursor: pointer;

  &:hover {
    background-image: url("../../assets/PlayButtonHover.png");
  }

  &:active {
    background-image: url("../../assets/PlayButtonActive.png");
  }
}
