.section-actions {
  position: relative;

  &__title {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 625px;
    height: 148px;
    font-size: 0;
    background-image: url("../../assets/SectionActions__Title.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__video {
    position: relative;
  }

  &__video_off::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../../assets/SectionActions__Video_Off.png") center no-repeat;
    background-size: cover;
  }

  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 236px;
    height: 234px;
    font-size: 0;
    transform: translate(-50%, -50%);
    background: url("../../assets/SectionActions__VideoPlay.png") center no-repeat;
    border: none;
    cursor: pointer;
  }

  &__text {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 22px;
    color: #ffffff;
  }

  .section__footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
