.action-button {
  font-size: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &_icon_next-section {
    width: 102px;
    height: 66px;
    background-image: url("../../assets/ActionButton_Icon_NextSection.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}
